---
layout: default
title: Event schedule
permalink: /schedule/
image: PurpleF_Dark_ResbazQld_NathCampus.jpg
---

{% include top-section.html %}
<section id="schedule" class="schedule">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
            <p>Welcome and Keynote locations:</p>
            <ul>
                <li>Welcome Address and Keynote Addresses are held in KG-F509 on days 1 and 2.</li>
                <li>The day 3 Keynote Address is held in the KG-E5 Function Space.</li>
            </ul></p>
            <p>Drop-in consultations (outside of talk and workshop times, in room KG-E555):</p>
            <ul>
                <li>Days 1 and 2: QCIF drop-in consultations</li>
                <li>Day 3: QCIF, R and Python drop-in consultations</li>
            </ul></p>
        </div> 
    </div> 
</section>
{% include schedule.html %}
