<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
         <div class="col-lg-8 col-lg-offset-2"> 
            <h2>{{ site.aboutTitle }}</h2>
            <div class="row about-details">
                {% assign animationDelay = 3 %}
                <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h3>{{ site.aboutSubtitle }}</h3>
                        <p>{{ site.aboutText }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
            </div>
<br><br><br>
        
       <!--  </div> -->
    </div>
</section>
<!--
<section>
    <div>
        <a href="/resbaz2025qld/registration/"><button type="button" class="btn btn-primary"><h5>Register</h5></button></a><br><br>
        
        <a href="https://forms.gle/5Kc4QUkhibvuopA48"><button type="button" class="btn" target="_blank"><h6>Get involved!</h6></button></a><br><br>
    </div>
</section>
-->
           <!--
            <a href="https://forms.gle/5Kc4QUkhibvuopA48"><button type="button" class="btn btn-primary"><h6>Interested in being a sponsor?</h6></button></a><br><br>
            -->

<!-- End About Section -->
