<section id="transport" class="transport">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
            <p>Resbaz will be at <a href="https://www.qut.edu.au/about/campuses-and-facilities/maps-and-getting-here/kelvin-grove">QUT Kelvin Grove campus</a>. (<a href="https://cms.qut.edu.au/__data/assets/pdf_file/0006/84759/KG-campus-map-2025.pdf">See QUT PDF map for this campus</a>.)</p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1765.7845381453437!2d153.01498776464416!3d-27.45281339962096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b9159e2b63136a1%3A0x92c976279b3580ad!2sQUT%20Kelvin%20Grove%20Campus!5e1!3m2!1sen!2sau!4v1764722464442!5m2!1sen!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <h2>Getting to campus</h2>

            <p>QUT Kelvin Grove is accessible by <a href="https://www.qut.edu.au/about/campuses-and-facilities/maps-and-getting-here/kelvin-grove">public transport and cycling</a> (see a <a href="https://www.openstreetmap.org/relation/14524093#map=16/-27.45265/153.02002&layers=C">map of cycle paths on OSM</a>). We encourage to opt for one of these more sustainable options, but if you need to drive, see the important information about parking below.</p>

            <h3>Public transport</h3>

            <p>Public transport is currently 50 cents per trip, making it a lot more affordable than driving! The most convenient public transport stop to get to ResBaz is the <a href="https://jp.translink.com.au/plan-your-journey/stops/QUT%20kelvin-grove-station">QUT Kelvin Grove station</a>, 400 m from the campus. Plan your public transport journey with Translink's <a href="https://jp.translink.com.au/plan-your-journey/journey-planner">Journey Planner</a>. From the centre of Brisbane, this is a direct trip taking between 10 and 15 minutes.</p>

            <p>More information about transport can be found on the <a href="https://www.qut.edu.au/about/campuses-and-facilities/maps-and-getting-here/kelvin-grove">QUT website</a>.</p>

            <h2>Parking</h2>

            <p>Information on casual parking locations and rates at Kelvin Grove campus can be <a href="https://www.qut.edu.au/about/campuses-and-facilities/parking">found here</a>.</p>

            <h2>On campus</h2>

            <p>On Day 1, head to the registration desk outside the F Block Lecture Theatre (Room 509, Level 5, F Block, Kelvin Grove campus). <br>After the Welcome Address, and for the rest of the conference, you will find the registration desk at the E5 Education Precinct Function Room (Level 5, E Block, Kelvin Grove campus). Wayfinding signs will be placed around campus to help attendees to find rooms. <br>For more information about accessibility, please see the <a href="https://cms.qut.edu.au/__data/assets/pdf_file/0013/33304/KG-campus-map-accessible-2026.pdf?_gl=1*1r5ijo4*_ga*MTk4OTUxNDM3Mi4xNzc1MDE5MzAx*_ga_S1B55LT1H8*czE3Nzg1NDYzMjUkbzI3JGcxJHQxNzc4NTQ3OTIzJGozMSRsMCRoMA..">Kelvin Grove campus Accessibility Map</a>.</p>
        </div> 
    </div> 
</section>
<script>
  document
    .querySelectorAll('#transport a[href]')
    .forEach((link) => {
      link.target = '_blank';
      link.rel = 'noopener noreferrer';
    });
</script>